<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flickity Carousel</title>
    <!-- Links for the first home slides content-->
    <!-- Starting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.min.css">
  	<link rel="stylesheet" type="text/css" href="/css/home.css">
  	
  

    <!-- Ending -->


    <!-- Contact section links -->
    <!-- Starting -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact.css">
    <!--Ending -->

    <!-- Clent section links -->
    <!-- Starting -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="topclient.css">
    <!--Ending -->

    <!-- Subscribers section links -->
    <!-- Starting -->

    <link rel="stylesheet" type="text/css" href="/css/subscribe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
     
     @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teko:wght@300..700&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  </style>

    <!--Ending -->


    <!-- Link for partners section-->
    <!--start-->

    <link rel="stylesheet" href="/css/partnerssection.css">
    <!--end -->


    <style>
        body{
            background-color: aliceblue;
            margin:0px;
            padding: 0px;
        }
    </style>

    <!-- Footer links -->
    <!--START-->

    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

    <!--END-->


    <!-- links related services -->

    <!--START-->

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'><link rel="stylesheet" href="/css/service.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--END-->

    <!-- aceheivenments link-->
    <link rel="stylesheet" type="text/css" href="/css/acheivement.css">



    <!-- Cras link -->
    <!--start-->

   <link rel="stylesheet" type="text/css" href="/css/cars.css">
    <!--end -->
</head>
<body>


    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#dashboard">Dashboard</a></li>
                <li><a href="#brands">Brands</a></li>
                <li><a href="/service">Service</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
    </header>


    <div class="homecontainer">
        <div class="hero-slider" data-carousel>
            <!-- Carousel cells -->
            <div class="carousel-cell" style="background-image: url(/images/craftforhome.webp);">
                <div class="overlay"></div>
                <div class="inner">
                   
                    <h2 class="title">Make Your Life Elite</h2>
                    <h3 class="subtitle">The Place Your Journey Kick Starts.</h3>
                    <a href="/about" target="_blank" class="btn">Tell me more</a>
                </div>
            </div>
            <!-- Additional carousel cells -->
            <div class="carousel-cell" style="background-image:url(/images/slide2.webp);">
                <div class="overlay"></div>
                <div class="inner">
                   
                    <h2 class="title">Book Your Exclusive Drive Today</h2>
                    <h3 class="subtitle"> Book your dream drive today and discover the ultimate in comfort</h3>
                    
                    <a href="/drive" class="btn">Book You Drive </a>
                </div>
            </div>
            <div class="carousel-cell" style="background-image:url(/images/slide3.webp);">
                <div class="overlay"></div>
                <div class="inner">
                    
                    <h2 class="title">Tailored Solutions for Every Need</h2>
                    <h3 class="subtitle">Tailored Solutions for Every Need</h3>
                    <a href="/service" class="btn">Book a service</a>
                </div>
            </div>
        </div>
    </div>
 

    <!-- Featured Cars Main-->

    <!-- START -->

    <!-- First container -->
    <div class="containerfirst mt-5" style="background-color: #111;">
      <div class="header">
          <span class="header-text">Featured Cars</span>
          <div class="header-line"></div>
      </div>
      <div class="row" style="overflow-x: auto; white-space: nowrap; position: relative;">
          <div class="card-container" style="display: flex;">
  
              <div class="col-md-4">
                  <a href="/bmw" class="card-link">
                      <div class="firstrow card-with-gap">
                          <img src="/images/bmwimage.png" class="card-img-top" alt="Card Image">
                          <div class="card-body">
                              <img src="/icons/bmw-removebg-preview.png" alt="Icon">
                              <p class="price">~Starts at $ 3340,000</p> 
                          </div>
                      </div>
                  </a>
              </div>
  
              <div class="col-md-4">
                  <a href="/audi" class="card-link">
                      <div class="firstrow card-with-gap">
                          <img src="/images/Audi.webp" class="card-img-top" alt="Card Image">
                          <div class="card-body">
                              <img src="/icons/audi-removebg.png" alt="Icon" >
                              <p class="price">~Starts at $ 3340,000</p>
                          </div>
                      </div>
                  </a>
              </div>
  
              <div class="col-md-4">
                  <a href="/ferrari" class="card-link">
                      <div class="firstrow card-with-gap">
                          <img src="/images/ferrari.jpg" class="card-img-top" alt="Card Image">
                          <div class="card-body">
                              <img src="/icons/Ferrari.png" alt="Icon" >
                              <p class="price">~Starts at $ 3340,000</p>
                          </div>
                      </div>
                  </a>
              </div>
  
              <div class="col-md-4">
                  <a href="/benz" class="card-link">
                      <div class="firstrow card-with-gap">
                          <img src="/images/benz.webp" class="card-img-top" alt="Card Image">
                          <div class="card-body">
                              <img src="/icons/Benz-removebg-preview.png" alt="Icon" >
                          </div>
                      </div>
                  </a>
              </div>
          </div>    
      </div>
  </div>
  
  
<!-- second container -->

  
  <div class="containersecond mt-5" style="background-color: #111;">

      <div class="row" style="overflow-x: auto; white-space: nowrap; position: relative;">
          <div class="card-container" style="display: flex;">
  
              <div class="col-md-4">
                  <a href="/tesla" class="card-link">
                      <div class="firstrow card-with-gap">
                          <img src="/images/tesla.jpeg" class="card-img-top" alt="Card Image">
                          <div class="card-body">
                              <img src="/icons/Tesla-removebg-preview.png" alt="Icon">
                              <p class="price">~Starts at $ 3340,000</p> 
                          </div>
                      </div>
                  </a>
              </div>
              
  
              <div class="col-md-4">
                  <a href="/mustang" class="card-link">
                      <div class="firstrow card-with-gap">
                          <img src="/images/mustang.jpg" class="card-img-top" alt="Card Image">
                          <div class="card-body">
                              <img src="/icons/Mustang-removebg-preview.png" alt="Icon" >
                              <p class="price">~Starts at $ 3340,000</p>
                          </div>
                      </div>
                  </a>
              </div>
  
              <div class="col-md-4">
                  <a href="/jaguar" class="card-link">
                      <div class="firstrow card-with-gap">
                          <img src="/images/jaguar.jpg" class="card-img-top" alt="Card Image">
                          <div class="card-body">
                              <img src="/icons/jaguar_logo.webp" alt="Icon" >
                              <p class="price">~Starts at $ 3340,000</p>
                          </div>
                      </div>
                  </a>
              </div>
  
              <div class="col-md-4">
                  <a href="/lexus" class="card-link">
                      <div class="firstrow card-with-gap">
                          <img src="/images/lexus.png" class="card-img-top" alt="Card Image">
                          <div class="card-body">
                              <img src="/icons/lexus.png" alt="Icon" >
                          </div>
                      </div>
                  </a>
              </div>
          </div>    
      </div>
  </div>
  

    <!--End -->
    
        


        <!-- Second : Contact Section-->

        <!-- START-->

      <!-- Second : Contact Section-->
		<!-- START-->
		<div class="custom-contact-container">
		    <div class="custom-overlay"></div>
		    <div class="custom-content">
		        <h1 class="custom-title">Your Dream Awaits!</h1>
		        <p>Feel free to reach out to us!</p>
		        
		        <form action="/contact" method="get">
		        <button  type="submit"  class="custom-button">Get in Touch</button>
		        </form>
		        
		    </div>
		</div>
		<!--END -->
		
		
		
		<div class="custom-container" id="custom-subscribe-container">
    <!-- Content goes here -->
    <form id="subscription-form">
        <input type="email" id="custom-email-input" placeholder="email@example.com" class="custom-form-control" required>
        <button type="submit" id="custom-subscribe-button" class="custom-btn">Join Now</button>
    </form>
    <div id="custom-subscribe-text" class="custom-subscribe-text">
        <h2>Join for Exclusive Updates</h2>
    </div>
</div>



        <!-- Service section-->
        
        <!-- start -->

       <section id="unique-our-services">
    <div class="unique-service-container">
        <div class="unique-desc">
            <div class="unique-heading">
                <h1>Why Select <span class="unique-highlight">Our</span> Services?</h1>
            </div>
            <div class="unique-text">
                <p>We don't just offer services; we deliver experiences, guarantee satisfaction, and prioritize your needs.</p>
            </div>
        </div>
        <div class="unique-services">
            <div class="unique-column" id="unique-column-1">
                <div class="unique-service-item">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon fas fa-users"></i>
                        <p class="unique-service-txt">Dedicated Team</p>
                    </div>
                </div>
                <div class="unique-service-item">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon fas fa-shield-alt"></i>
                        <p class="unique-service-txt">Extended Warranty</p>
                    </div>
                </div>
                <div class="unique-service-item">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon fas fa-gem"></i>
                        <p class="unique-service-txt">Exclusive Events</p>
                    </div>
                </div>
            </div>
            <div class="unique-column" id="unique-column-2">
                <div class="unique-service-item">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon fas fa-wrench"></i>
                        <p class="unique-service-txt">Free Services</p>
                    </div>
                </div>
                <div class="unique-service-item">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon fas fa-headset"></i>
                        <p class="unique-service-txt">24/7 Customer Support</p>
                    </div>
                </div>
                <div class="unique-service-item">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon fas fa-car"></i>
                        <p class="unique-service-txt">Free Test Drive</p>
                    </div>
                </div>
            </div>
            <div class="unique-column" id="unique-column-3">
                <div class="unique-service-item">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon fas fa-tasks"></i>
                        <p class="unique-service-txt">Offers & Free Accessories</p>
                    </div>
                </div>
                <div class="unique-service-item">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon fas fa-plane"></i>
                        <p class="unique-service-txt">Free Import Services</p>
                    </div>
                </div>
                <div class="unique-service-item hidden">
                    <div class="unique-service-desc">
                        <i class="unique-service-icon"></i>
                        <p class="unique-service-txt"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="unique-clear-fix"></div>
    </div>
</section>


 <!-- end -->

          
       <!-- Acheivements section-->

          <!--START-->

          <div class="containerofachiev">
            <!-- Achievement Row with Image -->
            <div class="achievement-row position-relative image-container">
                <h2 class="achievement-heading">Our path to make you Elite</h2>
                <!-- Additional content for achievement row -->
                <!-- Add the image here -->
                <img src="/images/CarThree.webp" alt="Achievement Image" class="full-width-image">
                <div class="overlayofachiev"></div>
                <div class="black-slide position-absolute top-0 start-0"></div>
            </div>
            <!-- Partnership Section -->
            <div class="partnership-section">
                <div class="partnership-content">
                    <!-- Heading for partnership section -->
                    <h3 class="section-heading animated-slide">Our Partnerships</h3>
                    <!-- Partnership Icons -->
                    <div class="partnership-icons">
                        <!-- Add your partnership icons here -->
                        <img src="partnersicons/bmw-removebg-preview.png" alt="Brand 1">
                        <img src="partnersicons/Benz-removebg-preview.png" alt="Brand 2">
                        <img src="partnersicons/audi-removebg.png" alt="Brand 3">
                        <img src="partnersicons/Tesla-removebg-preview.png" alt="Brand 4">
                        <img src="partnersicons/lexus.png" alt="Brand 5">
                        <!-- Add more brand icons as needed -->
                    </div>
                    <!-- Second row of partnership icons -->
                    <div class="secondpartnership-icons">
                        <!-- Add your partnership icons here -->
                        <img src="partnersicons/porsche-removebg-preview.png" alt="Brand 6">
                        <img src="partnersicons/Lamborgini-removebg-preview.png" alt="Brand 7">
                        <img src="partnersicons/Ferrari.png" alt="Brand 8">
                        <img src="partnersicons/jaguar_logo.webp" alt="Brand 9">
                        <!-- Add more brand icons as needed -->
                    </div>
                    <!-- Partnership Text -->
                    <p class="partnership-text">Unrivaled luxury awaits for you.<br>Discover our exclusive partnerships<br> with top-tier brands</p>
                </div>
            </div>
        </div>
        
          <!--END -->


        
<!-- Partners section-->
<!--start -->

<div id="brands" class="section">
<div class="container-fifth-ofcompany mt-5-ofcompany">
    <div class="row justify-content-center">
        <!-- Heading for brand partnerships -->
        <h2 class="partnership-heading-ofcompany">Our Corporate Partnerships</h2>
        <!-- Horizontal container for brand icons -->
        <div class="brand-icons-container-ofcompany">
            <!-- Brand Icon 1 -->
            <a href="brand1-page.html">
                <img src="partnersicons/bmw-removebg-preview.png" alt="Brand 1" class="brand-icon-ofcompany">
            </a>
            <!-- Brand Icon 2 -->
            <a href="brand2-page.html">
                <img src="partnersicons/audi-removebg.png" alt="Brand 2" class="brand-icon-ofcompany">
            </a>
            <!-- Brand Icon 3 -->
            <a href="brand3-page.html">
                <img src="partnersicons/Benz-removebg-preview.png" alt="Brand 3" class="brand-icon-ofcompany">
            </a>
            <!-- Brand Icon 4 -->
            <a href="brand4-page.html">
                <img src="partnersicons/porsche-removebg-preview.png" alt="Brand 4" class="brand-icon-ofcompany">
            </a>
            <!-- Brand Icon 5 -->
            <a href="brand5-page.html">
                <img src="partnersicons/Lamborgini-removebg-preview.png" alt="Brand 5" class="brand-icon-ofcompany">
            </a>
        </div>

        <!-- Additional Brand Icons (initially hidden) -->
        <div class="brand-icons-container-ofcompany" id="additionalIconsOfcompany" style="display:none;">
            <!-- Brand Icon 6 -->
            <a href="brand6-page.html">
                <img src="partnersicons/Tesla-removebg-preview.png" alt="Brand 6" class="brand-icon-ofcompany">
            </a>
            <!-- Brand Icon 7 -->
            <a href="brand7-page.html">
                <img src="partnersicons/Mustang-removebg-preview.png" alt="Brand 7" class="brand-icon-ofcompany">
            </a>
            <!-- Brand Icon 8 -->
            <a href="brand8-page.html">
                <img src="partnersicons/Ferrari.png" alt="Brand 8" class="brand-icon-ofcompany">
            </a>
        </div>
    </div>

    <div id="viewMoreButtonOfcompany" class="viewposition-ofcompany" onclick="toggleBrandIconsOfcompany()"> View More</div>
</div>

</div>

<!--ENDING-->






    

   
   <!-- Footer section starts here -->
<footer class="main-custom-footer">
    <div class="main-container">
        <!-- First Column: About Us, Terms and Conditions, Services -->
        <div class="main-row">
            <div class="main-col-md-4 main-footer-links-container">
                <ul class="main-footer-links">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="terms.html">Terms and Conditions</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="TestDrive.html">Test Drive</a></li>
                </ul>
            </div>

            <div class="main-col-md-4 main-footer-links-container">
                <ul class="main-footer-links">
                    <li><a href="Support">Support/Help Center</a></li>
                    <li><a href="Careers.html">Careers</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>

            <div class="main-col-md-4 main-footer-links-container">
                <ul class="main-footer-links">
                    <li><a href="Imprint.html">Imprint</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="main-footer-divider">
    <div class="main-copyright">
        &copy; 2024 Elite Cars. All rights reserved.
    </div>
    <!-- Social Media Icons -->
    <div class="main-social-icons">
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
    </div>
</footer>













    <!-- Links for the first home slides content -->
    <!--starting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js"></script>
    <script src="/home.js"></script>

    <!-- Ending -->



   

    <!-- Links for the Subscribe content -->
    <!--starting -->
    <script src="subscribe.js"></script>
    <!-- Ending -->

    <!-- Links for the partners content -->
    <!--starting -->
    <script src="/partners.js"></script>
    <!-- Ending -->


    <!-- SCRIPT FOR FOOTER-->
    <!--start-->
    <script src="footer.js"></script>
    <!--end -->

    <!-- Script for services-->

    <!--start-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script><script  src="service.js"></script>

    <!--end -->


    <!-- acheivement scripts-->

    <link rel="stylesheet"  href="/acheivement.js">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
 
	
	
	
</body>
</html>

   