<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/brandpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-Rp6u8EsZ5sQkAq3S+9WpRR2Z+bqD+Bd9foSioy6FPp5gbsPvNyk+N3Pa8b0+5ZH5" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

     <!-- Cars lis -->

       <link rel="stylesheet" href="/css/bmwCars.css">
       <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
       <!--END-->


    
    <!-- Contact section links -->
    <!-- Starting -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contactbrand.css">
    <!--Ending -->


    <!-- Footer links -->
    <!--START-->

    <link rel="stylesheet" href="/css/brandfooter.css">
    <!--END-->


  <!-- navbar links -->
    <!--START-->

    <link rel="stylesheet" href="/css/navbarbenz.css">
    <!--END-->
    
    
      <!-- imageDash links -->
    <!--START-->

    <link rel="stylesheet" href="/css/Dashbenz.css">
    <!--END-->
  

   



</head>
<body>
    




		      <!-- Navbar section-->
    <!--start-->
    <div class="navbarbenz">
        <img src="/Icon/Benz-removebg-preview (1).png" alt="Icon">
        <div class="menu-iconbenz" onclick="toggleMenu()">
            <img src="/Icon/icons8-menu-50.png" alt="Menu">
        </div>
        <div class="menubenz" id="menu">
            <div class="menu-contentbenz">
                <ul>
                    <li>Action 1</li>
                    <li>Action 2</li>
                    <li>Action 3</li>
                </ul>
            </div>
            <div class="close-iconbenz" onclick="toggleMenu()">
                <img src="/Icon/icons8-close-100.png" alt="Close">
            </div>
        </div>
        
      </div>
      <!--end -->



      <!-- Image container -->
    <div class="image-containerbenz">
        <!-- Your image goes here -->
        <img src="/web/wp5441232.jpg" class="full-width-imagebenz" alt="Your Image">
        <!-- Black overlay -->
  <div class="overlaybenz"></div>

        <!-- Title -->
  <h1 class="titlebenz">Audi Q8</h1>
  <!-- Sub-paragraph -->
  <p class="sub-paragraphbenz">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at faucibus tortor, at aliquet nisl. Vivamus semper ante at mauris tempor, nec dictum enim tristique. Donec efficitur purus at lectus suscipit, sit amet sodales neque consequat.</p>

        <!-- Non-transparent button -->
    <button class="custom-buttonbenz">Explore Audi-Cars</button>
        
    </div>


<!--Featured Cars List-->

    <!--STARTS-->

    <!-- partial:index.partial.html -->
<div class="containerBmw">
    <div class="hs__wrapper">
      <div class="hs__header">
        <h2 class="hs__headline">Bmw-1
        </h2>
        <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
      </div>
      <ul class="hs">
         
        <li class="hs__item"> 
    <form action="/bmwfirstrowimageone" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/firstndfirst.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	
	
		  <li class="hs__item"> 
    <form action="/bmwfirstrowimagetwo" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/firstndsecond.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	
		  <li class="hs__item"> 
    <form action="/bmwfirstrowimagethree" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/firstinthird.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	
			  <li class="hs__item"> 
    <form action="/bmwfirstrowimagefour" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/firstinfourth.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>

        
        
        
      </ul>
    </div>
    <div class="hs__wrapper">
      <div class="hs__header">
        <h2 class="hs__headline">Bmw-2
        </h2>
        <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
      </div>
      <ul class="hs">
		  
		
		  <li class="hs__item"> 
    <form action="/bmwsecondrowimageone" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/secondinfirst.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	
	
	  <li class="hs__item"> 
    <form action="/bmwsecondrowimagetwo" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/secondintwo.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	
	
	  <li class="hs__item"> 
    <form action="/bmwsecondrowimagethree" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/secondinthird.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	
	
	  <li class="hs__item"> 
    <form action="/bmwsecondrowimagefour" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/secondinfourth.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	
	  <li class="hs__item"> 
    <form action="/bmwsecondrowimagefive" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/secondinfivth.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
		
      </ul>
    </div>
    <div class="hs__wrapper">
      <div class="hs__header">
        <h2 class="hs__headline">Bmw-3
        </h2>
        <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
      </div>
      <ul class="hs">
          <li class="hs__item"> 
    <form action="/bmwthirdrowimageone" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/thirdinfirst.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
        
        
        <li class="hs__item"> 
    <form action="/bmwthirdrowimagetwo" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/thirdinsecond.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	 <li class="hs__item"> 
    <form action="/bmwthirdrowimagethree" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/thirdinthird.png" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	 <li class="hs__item"> 
    <form action="/bmwthirdrowimagefour" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/thirinfourth.jpg" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	
	 <li class="hs__item"> 
    <form action="/bmwthirdrowimagefive" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/thirinfifth.jpg" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	 <li class="hs__item"> 
    <form action="/bmwthirdrowimagesix" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/firstndfirst.jpg" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
	
	
	 <li class="hs__item"> 
    <form action="/bmwthirdrowimageseventh" method="get">
        <div class="hs__item__image__wrapper">
            <a href="dummybmw.html">
                <img class="hs__item__image" src="/bmwmodels/firstndfirst.jpg" alt=""/>
            </a>
        </div>
        <div class="hs__item__description">
            <span style="display:block;" class="hs__item__title">The Bmw Series</span>
            <span style="display:inline;" class="hs__item__subtitle">some subtitle</span>
            <button type="submit" class="custom-button">Explore</button>
	        </div>
	    </form>
	</li>
      </ul>
    </div>
  </div>
  
    <!--ENDS-->






  <!--Contact Us-->

   <!-- Second : Contact Section-->

        <!-- START-->

        <div class="contact-container">
          <div class="overlayc"></div>
          <div class="contentc">
            <h1 class="titlec">Your Car is Waiting for You!</h1>
            <p>Feel free to get in touch with us!</p>
            <form action="/callback" method="get">
            <button class="buttonc">Contact Us</button>
            </form>
          </div>
        </div>
      <!--END -->




      <!-- Footer section starts here -->


    <footer class="custom-footerb">
      <div class="containerb">
          <!-- First Column: About Us, Terms and Conditions, Services -->
          <div class="rowb">
              <div class="col-md-4  footer-links-containerb" >
              
                  <ul class="footer-linksb">
                      <li><a href="about.html">About Us</a></li>
                      <li><a href="terms.html">Terms and Conditions</a></li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="TestDrive.html">Test Drive</a></li>
                  </ul>
              </div>
  
              
  
              <div class="col-md-4  footer-links-containerb" >
              
                  <ul class="footer-linksb">
                      <li><a href="Support">Support/Help Center</a></li>
                      <li><a href="Careers.html">Careers</a></li>
                      <li><a href="contact.html">Contact Us</a></li>
                  </ul>
              </div>
  
              <div class="col-md-4  footer-links-containerb" >
              
                  <ul class="footer-linksb">
                      <li><a href="Imprint.html">Imprint</a></li>
                      <li><a href="privacy.html">Privacy Policy</a></li>
                      
                  </ul>
              </div>
  
      
              <!-- Other columns will be added later -->
          </div>
      </div>
      <hr class="footer-dividerb">
      <div class="copyrightb">
          &copy; 2024 Elite Cars. All rights reserved.
      </div>
      <!-- Social Media Icons -->
      <div class="social-iconsb">
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
      </div>
  </footer>
  
  




   <!-- SCRIPT FOR FOOTER-->
    <!--start-->
    <script src="/brandfooter.js"></script>
    <!--end -->


  
        <!--Links for Featured cars -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script><script  src="/bmwCars.js"></script>
    
      <script src="/navbarAudi.js"></script>


</body>
</html> 